<!--The content below is only a placeholder and can be replaced.-->
<header class="sticky">
  <nav class="navbar navbar-expand-sm bg-danger navbar-dark text-center">
    <h2><a class="navbar-brand" href="#">SPYFALL</a></h2>
    <h4><a class="navbar-brand" href="#">(With A Vengeance)</a></h4>
  </nav>
</header>
<p></p>
<div class="container">
  <game></game>
</div>
<footer>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Built by Daniel Allen Johnson &copy; 2020</p>
    <p>Contact at <a href="https://twitter.com/voltron42" target="_blank">@voltron42</a> on Twitter.</p>
    <p>See the code at <a href="https://github.com/voltron42/agent-autumn">voltron42/agent-autumn</a> on GitHub.</p>
  </div>
</footer>
